<p id="notice"><%= notice %></p>

<h1>Nalogas</h1>

<table>
  <thead>
    <tr>
      <th>Start time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nalogas.each do |naloga| %>
      <tr>
        <td><%= naloga.start_time %></td>
        <td><%= link_to 'Show', naloga %></td>
        <td><%= link_to 'Edit', edit_naloga_path(naloga) %></td>
        <td><%= link_to 'Destroy', naloga, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Naloga', new_naloga_path %>
