<!DOCTYPE html>
<html>
  <head>
    <title>SchoolFromHome</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">HEJ</span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <%=link_to  "Nova naloga", new_task_path, class: 'nav-link' %>
          </li>
          
          <%= render 'layouts/autent' %>
          </ul>
      </div>
    </nav>

    <%= render 'simple_calendar/simple_calendar' %>

    <%= yield %>
  </body>
</html>
